@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(145deg, darkorchid, #153677);
}

nav a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 5px;
    
}
nav a:hover {
    background-color: white;
    color: darkorchid;
    border-radius: 20px;
    padding: 5px;
}

nav {
    background-color: darkorchid;
    color: white;
    font-size: 25px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
   
}

.products div{
    background-color: blueviolet;
    color: white;
    margin: 50px;
    border: 2px solid black;
    width: 400px;
}


img {
    width: 399px;
    border: 2px solid black;
}